<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ready-ios-widgets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5BE7E9F1BCC3CB7007CC74C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BE7EB61BCC3CB7007CC74C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BE7EC11BCC3CB7007CC74C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
